.mainContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    background: linear-gradient(198deg, rgba(15, 4, 27, 1), rgba(32, 4, 57, 1));
    -webkit-background: linear-gradient(198deg, rgba(15, 4, 27, 1), rgba(32, 4, 57, 1));
    -moz-background: linear-gradient(198deg, rgba(15, 4, 27, 1), rgba(32, 4, 57, 1));
}

.logoContainer {
    width: 100%;
    height: 3rem;
    /* border: 1px solid red; */
}
.logoContainer>h1{
    color: #FFF;
font-size: 1.8rem;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cameraContainer {
    margin-top: 2rem;
    width: 100%;
    height: 15rem;
    border: 1px solid rgb(219, 230, 212);
}

.cameraContainer>h1{
color: #FFF;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 1.8rem;
}



/* //------------------- */

.dataContainer {
    margin-top: 1rem;
    width: 100%;
    height: 15rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    /* border: 1px solid red; */
}

.firstDataContainer {
    width: 100%;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* border: 1px solid blue; */
}

.runsContainer{
    width: 16rem;
    height: 6.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    /* border: 1px solid green; */
}
.runcontainerfirstBox{
    width: 100%;
    height: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* border: 1px solid red; */
}

.runcontainerfirstBox>button{
    width: 2.5rem;
    height: 2.2rem;
    background: #FFF;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}
.plusicon{
    width: 100%;
    height: 100%;
    color: blue;
}

.runBox{
    width: 6.8rem;
    height: 2.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.2rem;
    background: #f5e8e8;
    color: black;
    border-radius: 7px;
    /* border: 1px solid blue; */
}
.extrabolscontainer{
width: 100%;
height: 1.3rem;
display: flex;
align-items: center;
justify-content: space-around;
}
.extrabolscontainer>button{
    width: 1.8rem;
    height: 1.2rem;
    background: #d10a7e;
    color: rgb(241, 245, 242);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    border-radius: 20%;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 0.8rem;
    cursor: pointer;
    transition: all 0.3s ease;
}
.extrabolscontainer>button:hover{
    background: #f5e8e8;
    color: #d10a7e;
    transform: scaleX(1.1);
}

.currentBatterContainer{
    position: relative;
    width: 18rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.8rem;
    /* border: 1px solid red; */
}
.playerBoxes{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    border: 1px solid blue;
    background: linear-gradient(198deg, rgba(15, 4, 27, 1), rgba(32, 4, 57, 1));
    overflow-y: scroll;
    scrollbar-width: none;
    z-index: 1;
}
.disnone{
    display: none;
}
.onlyplayername{
    width: 100%;
    height: 1.6rem;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    cursor: pointer;
    color:#fff;
    border-bottom: 1px solid #fdfcfd;
    transition: all 0.3s ease-in;
}
.onlyplayername:hover{
    background: #d10a7e;
    color: #fdfcfd;
    transform: scaleX(1.1);
    padding-left: 1rem;
    border-radius: 50px;
}
.currentbattheading{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.1rem;
    color: #FFF;
}
.player1container{

width: 100%;
height: 2.5rem;
display: flex;
align-items: center;
justify-content: space-between;
cursor: pointer;
/* border: 1px solid yellow; */
}
.player1containermark{
    width: 100%;
height: 2.5rem;
display: flex;
align-items: center;
justify-content: space-between;
border: 1px solid #f5e8e8;
border-radius: 10px;
cursor: pointer;
}

.player1container>h2{
    color: #FFF;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 0.8rem;
}
.player1containermark>h2{
    color: #FFF;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 0.8rem;
}
.player1container>div{
    width: 3.2rem;
    height: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFF;
    color: black;
    /* border: 1px solid red; */
    border-radius: 4px;
}
.player1containermark>div{
    width: 3.2rem;
    height: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFF;
    color: black;
    border-radius: 4px;
}
.selectPlayerbtn{
    width: 3.2rem;
    height: 1.7rem;
    background: #d10a7e;
    color: #f5e8e8;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    border-radius: 40px;
    font-size: 1rem;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease;
}
.selectPlayerbtn:hover{
    background: #f5e8e8;
    color: #d10a7e;
    transform: scaleX(1.1);
}


.SecondDataContainer {
width: 100%;
height: 10rem;
display: flex;
align-items: center;
justify-content: center;
gap: 2rem;
/* border: 2px solid green; */
}
.secBox{
    width: 10rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border: 1px solid rgb(255, 254, 254);
}
.secBox>label{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    color: #FFF;
}
.selectBox{
    font-size: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  cursor: pointer;
}
.selectBox>option{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
    color: #111010;
}
.bbtn{
    width: 6rem;
    height: 2rem;
    background: #d10a7e;
    color: #fdfcfd;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    border-radius: 2rem;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 0.8rem;
    transition: all 0.3s ease;
}
.bbtn:hover{
    background: #fdfcfd;
    color: #d10a7e;
    transform: scaleX(1.1);
}
.teamContainer{
width: 24rem;
height: 90%;
display: flex;
flex-direction: column;
gap: 1.5rem;
/* border: 1px solid blue; */
}
.teamContainerSelected{
    width: 24rem;
    height: 90%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border: 1px solid #fdfcfd;
    box-shadow: 0px 1px 1px 1px #fdfcfd;
    
}
.teamContainer >h3{
width: 100%;
height: 0.8rem;
color: #FFF;
display: flex;
align-items: center;
justify-content: space-between;
transition: all 0.5s ease;
}
.teamContainerSelected >h3{
    width: 100%;
height: 0.8rem;
color: #FFF;
display: flex;
align-items: center;
justify-content: space-between;
transition: all 0.5s ease;
}

.teamContainer >h3>span{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.1rem;
    text-align: center;
   padding-right: 1rem;
   margin-top: 0.5rem;
   padding-left: 0.5rem;
   background: #d10a7e;
   color: #FFF;
border-radius: 20px;
cursor: pointer;
transition: all 0.3s ease;
}
.teamContainer>h3>span:hover{
    background: #FFF;
    color: #d10a7e;
    transform: scaleX(1.1);
}

.teamContainerSelected >h3>span{
display: none;
}


.playerlistContainer{
width: 100%;
height: 70%;
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
gap: 1rem;
overflow-y: scroll;
scrollbar-width: none;
/* border: 1px solid red; */
}
.playerNameContainer{
width: 100%;
height: 1.6rem;
display: flex;
align-items: center;
justify-content: space-around;
/* border: 1px solid green; */
}
.playerNameContainer>p{
width: 50%;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 1.1rem;
color: #FFF;
}

.playerNameContainer>div{
width: 2rem;
height: 100%;
border-radius: 10%;
display: flex;
align-items: center;
justify-content: center;
background: #fdf6f6;
cursor: pointer;
}
.playerIcon{
    color: blue;
    width: 1rem;
    height: 1rem;
}